<ul class="uk-list list-downloads uk-margin-medium-top">
    {% for item in site.data[include.data] %}
        {% if item.url contains 'http' %}
            {% assign domain = '' %}
        {% else %}
            {% assign domain = site.uploads | absolute_url %}
        {% endif %}
        {% if item.title %}
          <li class="uk-border-rounded uk-background-default">
            <h4 class="uk-margin-small-bottom uk-text-secondary">{{ item.title }}</h4>
            <div>
              {% for download in item.downloads %}
                <a class="uk-text-small uk-margin-right" href="{{ domain }}{{ download.url }}" target="_blank"><span data-uk-icon="icon: file-pdf; ratio: 1"></span> {{ download.title }}</a>
              {% endfor %}
            </div>
          </li>
        {% endif %}
    {% endfor %}
</ul>
