<footer id="footer" class="uk-section uk-section-xsmall uk-section-footer">
    <div class="uk-container{% if page.width and page.width != 'expand' %} uk-container-{{page.width}}{% endif %}">
        <div class="uk-flex uk-flex-middle uk-grid-small" data-uk-grid>
            <div class="uk-width-auto@m">
                <div class="uk-width-auto@m uk-text-small">
                    <ul class="uk-subnav uk-margin-remove-vertical uk-flex uk-flex-center uk-flex-left@m">
                        {% for link in site.data.navigation_footer %}
                            {% if link.url contains 'http' %}
                                {% assign domain = '' %}
                            {% else %}
                                {% assign domain = '' | relative_url %}
                            {% endif %}
                            {% if link.url == page.url %}
                                {% assign current = ' class="uk-active"' %}
                            {% else %}
                                {% assign current = null %}
                            {% endif %}
                            {% if link.title %}
                                <li{{ current }}><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" {% endif %}>{{ link.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="uk-width-expand@m">
                <div class="uk-text-small uk-text-center uk-text-right@m">
                    <p class="uk-margin-remove">{{ site.footer.copyright }}</p>
                </div>
            </div>            
        </div>
    </div>
</footer>
