<ul class="uk-subnav uk-subnav-pill">
    {% for link in site.data[include.data] %}
        {% if link.url contains 'http' %}
            {% assign domain = '' %}
        {% else %}
            {% assign domain = '' | relative_url %}
        {% endif %}
        {% if link.url == page.url %}
            {% assign current = ' class="uk-active"' %}
        {% else %}
            {% assign current = null %}
        {% endif %}
        {% if link.title %}
          <li{{ current }}><a class="uk-border-pill" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" {% endif %}>{{ link.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
