---
layout: default
---

<section class="uk-section">
    <div class="uk-container{% if page.width %} uk-container-{{page.width}}{% endif %}" data-uk-filter="target: .filter-tool">
        <div data-uk-grid>
            <div class="uk-width-1-5@m uk-flex-last@m">
                <div class="uk-visible@m" uk-sticky="offset: 100; bottom: true">
                    <ul class="uk-nav uk-nav-default">
                        <li class="uk-active" uk-filter-control><a href="#">{{ site.data.translation[site.lang].all_tools | default: "All Tools" }}</a></li>
                    </ul>
                    {% for section in site.data.navigation_tools %}
                        {% if section.filter != true %}
                            {% continue %}
                        {% endif %}                    
                        <h5 class="uk-text-secondary uk-margin-small-bottom">{{ section.title }}</h5>
                        <ul class="uk-nav uk-nav-default">
                            {% for tool in section.tools %}
                                <li data-uk-filter-control="filter: [data-{{ section.tag | slugify }}*='{{ tool.tag | slugify }}']; group: {{ section.tag | slugify }}"><a href="#">{{ tool.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </div>
            <div class="uk-width-expand@m">
                <div class="uk-hidden@m">
                    <ul class="uk-subnav uk-subnav-pill">
                        <li class="uk-active" uk-filter-control><a href="#">{{ site.data.translation[site.lang].all_tools | default: "All Tools" }}</a></li>
                        {% for section in site.data.navigation_tools %}
                            {% if section.filter != true %}
                                {% continue %}
                            {% endif %}                    
                            <li>
                                <a href="#">{{ section.title }} <span uk-icon="icon:  triangle-down"></span></a>
                                <div uk-dropdown="mode: click;">
                                    <ul class="uk-nav uk-dropdown-nav">
                                        {% for tool in section.tools %}
                                            <li data-uk-filter-control="filter: [data-{{ section.tag | slugify }}*='{{ tool.tag | slugify }}']; group: {{ section.tag | slugify }}"><a href="#">{{ tool.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>                                
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="filter-tool uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-match" data-uk-grid>
                    {% assign tools = site.tools | reverse %}
                    {% for tool in tools  %}
                        <div{% if tool.mode %} data-mode="{{ tool.mode | join: " " }}"{% endif %}{% if tool.scale %} data-scale="{{ tool.scale | join: " " }}"{% endif %}{% if tool.terms %} data-terms="{{ tool.terms | join: " " }}"{% endif %}{% if tool.type %} data-type="{{ tool.type | join: " " }}"{% endif %}{% if tool.target %} data-target="{{ tool.target | join: " " }}"{% endif %}>
                            <div class="uk-card uk-card-small uk-card-default uk-clip uk-border-rounded">
                                {% if tool.image %}
                                    <div class="uk-card-media-top">
                                        <img src="{% if tool.image contains 'http' %}{{ tool.image }}{% else %}{{ site.uploads | absolute_url }}{{ tool.image }}{% endif %}" alt="{{ tool.title }}">
                                    </div>
                                {% endif %}
                                <div class="uk-card-header">
                                    <h3 class="uk-card-title">{{ tool.title }}</h3>
                                </div>
                                <div class="uk-card-body uk-text-small">
                                    <div class="tool-content-{{ forloop.index }}">
                                        {% assign card_excerpt = site.tool.excerpt_length %}
                                        {{ tool.content | truncate: card_excerpt }}
                                        {% assign content_count = tool.content | size %}
                                        {% if content_count > card_excerpt %}                                   
                                            <a href="#" uk-toggle="target: .tool-content-{{ forloop.index }}">{{ site.data.translation[site.lang].more | default: "More" }}</a>
                                        {% endif %}
                                    </div>
                                    {% if content_count > card_excerpt %}
                                        <div class="tool-content-{{ forloop.index }}" hidden>
                                            {{ tool.content }}
                                            <a href="#" uk-toggle="target: .tool-content-{{ forloop.index }}">{{ site.data.translation[site.lang].less | default: "Less" }}</a>
                                        </div>   
                                    {% endif %}                                 
                                </div>
                                <div class="uk-card-footer">
                                    <ul data-uk-accordion>
                                        <li>
                                            <a class="uk-accordion-title" href="#">{{ site.data.translation[site.lang].tool_type | default: "Categorization" }}</a>
                                            <div class="uk-accordion-content">
                                                <ul class="uk-list list-small uk-text-small">
                                                    {% for category in site.data.navigation_tools %}
                                                        {% if tool[category.tag] %}
                                                            {% assign i = 0 %}
                                                            <li>
                                                                <span class="text-500">{{ category.title }}: </span>
                                                                {%- for item in category.tools -%}
                                                                    {%- if tool[category.tag] contains item.tag -%}
                                                                        {%- if i > 0 -%}, {% endif -%}
                                                                        {{- item.title -}}
                                                                        {% assign i = i | plus: 1 %}
                                                                    {%- endif -%}
                                                                {% endfor %}
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>                                                
                                            </div>
                                        </li>
                                    </ul>                                    
                                </div>
                                {% if tool.contact %}
                                <div class="uk-card-footer uk-text-small">
                                    <ul data-uk-accordion>
                                        <li>
                                            <a class="uk-accordion-title" href="#">{{ site.data.translation[site.lang].contact | default: "Contact" }}</a>
                                            <div class="uk-accordion-content">
                                                <address>
                                                    {% if tool.contact.name %}
                                                        {{ tool.contact.name }}<br>
                                                    {% endif %}
                                                    {% if tool.contact.address %}
                                                        {{ tool.contact.address }}<br>
                                                    {% endif %}
                                                    {% if tool.contact.phone %}
                                                        {{ site.data.translation[site.lang].contact_phone | default: "Phone" }}: <a href="tel:{{ tool.contact.phone }}">{{ tool.contact.phone }}</a><br>
                                                    {% endif %}
                                                    {% if tool.contact.email %}
                                                        {{ site.data.translation[site.lang].contact_email | default: "Email" }}: <a class="uk-link-text" href="mailto:{{ tool.contact.email }}">{{ tool.contact.email }}</a>
                                                    {% endif %}
                                                </address>
                                            </div>
                                        </li>
                                    </ul>   
                                </div>                                 
                                <div class="uk-card-footer uk-text-small">
                                    {% if tool.contact.url %}
                                        <div class="uk-text-center uk-margin-small-top uk-margin-small-bottom">
                                            <a class="uk-button uk-button-primary-outline uk-button-small" href="{{ tool.contact.url }}" target="_blank"><span data-uk-icon="link"></span> {{ site.data.translation[site.lang].tool_link | default: "Website" }}</a>
                                        </div>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {{ content }}

</section>